.search-bar {
  position: fixed;
  bottom: 2px;
  left: 7%;
  width: 100%;
  max-width: 1200px;
  padding: 16px 24px;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 100;
}

.search-bar .MuiTextField-root {
  width: 100%;
}

.search-bar .MuiInputBase-root {
  background-color: #555454;
  color: white;
  font-family: 'monospace';
  border-radius: 6px;
}

.search-bar .MuiInputBase-input {
  color: white;
  padding: 2px 8px;
}

.search-bar .MuiButton-root {
  background-color: #11b6a0;
  font-weight: bold;
  text-transform: none;
  height: 55px;
  padding: 0 24px;
}

.search-bar .MuiButton-root:hover {
  background-color: #10a18b;
}

.search-bar-loading {
  position: relative;
}

.search-bar-loading .search-bar-spinner {
  display: flex !important;
  margin-right: 8px;
  color: #ffffff;

}

.search-bar-response-time {
  font-size: 0.75rem;
  color: #ffffff;
  text-align: center;
}